<!-- report_bug.html -->
<!--
	Contribitors: Sairam Soundararajan, Cole Sarno
    Program Description: Website Report Bug document
	Course: CMSC 495 6383
    Class: Current Trends and Projects in Computer Science
	Created: 02/12/2023
    Last Updated: 02/12/2023
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
   <title>Report Bug</title>
   <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 <body>
    <header>
		<h1>Report Bug</h1>
	</header>
    <aside>
		<!-- Navigation links to different website pages -->
		<nav id="nav_list">
			<ul>
				<li><a href ={{url_for('home')}}>Homepage</a></li>
				<li><a href={{url_for('game_updates')}}>Game Updates</a></li>
				<li><a href={{url_for('report_bug')}}>Report Bug</a></li>
				<li><a href={{url_for('about')}}>About</a></li>
				<li><a href={{url_for('web_player')}}>Web Player</a></li>
			</ul>
		</nav>
	</aside>
    <main>
        <h2>Please Fill In The Following Details</h2>
			
		<form method="post">
			<table>
			<tr>
				<td><label for="bug_desc"><h4>Bug Description: </h4>
				<br />
				<textarea rows="10" input name="bug_desc" id="bug_desc" required></textarea></label></td>
			</tr>
			<tr>
				<td colspan='1'><button type="submit" name="submit_button"><p>Submit</p></button></td>
			</tr>
			</table>
		</form>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
		{% endwith %}
    </main>
	<footer>
			<p>Created by: Group 1, go to the <a href={{url_for('about')}}>About Page</a> for more information.</p>
	</footer>
 </body>
</html>

