<!-- home.html -->
<!--
	Contribitors: Cole Sarno, Sairam Soundararajan
    Program Description: Website homepage document
	Course: CMSC 495 6383
    Class: Current Trends and Projects in Computer Science
	Created: 02/06/2023
    Last Updated: 02/12/2023
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Web Player</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<meta charset="utf-8">
	<!-- For mobile compatibility and scaling -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
	 background: url("static/spaceBackground.png");
	<!-- Used to differentiate the body content from the background image -->
	<div class="bg">
		<header>
			<h1>Web Player</h1>
		</header>
		<aside>
        <!-- Navigation links to different website pages -->
			<nav id="nav_list">
				<ul>
					<li><a href ={{url_for('home')}}>Homepage</a></li>
					<li><a href={{url_for('game_updates')}}>Game Updates</a></li>
					<li><a href={{url_for('report_bug')}}>Report Bug</a></li>
					<li><a href={{url_for('about')}}>About</a></li>
                    <li><a href={{url_for('web_player')}}>Web Player</a></li>
				</ul>
			</nav>
		</aside>

			<iframe frameborder="0" src="https://itch.io/embed-upload/7374295?color=333333" allowfullscreen="" width="980" height="779"><a href="https://devcolby.itch.io/chromashot%22%3E"> Play Chromashot on itch.io </a></iframe>

	</div>

 </body>
</html>
