/* styles.css */
/* Contribitors: Cole Sarno, 
   Program Description: CSS stylesheet for website
   Course: CMSC 495 6383 
   Class: Current Trends and Projects in Computer Science
   Created: 02/07/2023
   Last Updated: 02/21/2023
*/
/*Custom 8bit font*/
@font-face { 
	font-family: '8bit';
	src: url('8bit.ttf'); 
} 

/* Formats all elements */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Formatting for regular laptop/desktop screens */
@media only screen and (min-width: 992px){

}

/* Formatting for tablet/phone screens */
@media only screen and (max-width: 992px){

}


/* Formats navigation list */
#nav_list ul{
	list-style-type: none;
	padding: 1em 0;
}
#nav_list ul li{
	margin-right:1%;
	float: left;
}
/* Creates a button for each link in nav_list */
#nav_list ul li a{
	text-align: center;
	display: block;
	padding: 0.5em .5em .5em .5em;
	text-decoration: none;
	background-color: white;
	font-weight: bold;
	color: black;
	border: 1px solid black;
}
/* Makes it so the last button does not have a margin*/
#nav_list ul li.lastitem{ 
	margin-right: none
}
/* Makes it so when you hover over a button it turns from white to yellow */
#nav_list ul li a:hover{
	background-color: yellow;
}


/* Formatting for body  */
body{
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url("spaceBackground.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Formatting for header */
header{
	text-align: center;
	background-color: white;
	padding: 15px 1.5625%;
	border: 1px solid black;
}
/* Formatting for main */
main{
	/*margin-right: 10%;*/
	max-width: 1024px;
	background-color: white;
	/*position: absolute;
	display: inline-block;*/
	
	float: left;
	width: 100%;
	padding: 15px 1.5625%;
	margin-right: 2em;
	border: 1px solid black;
}
/* Formatting for aside (nav menu) */
aside{
	width: 100%;
	float: left;
	padding:15px 1.5625%;
}
/* Formatting for footer */
footer{
	clear: both;
	padding: 15px 1.5625%;
	border-top: 2px solid black;
	color: white;
	text-shadow: 1px 1px black;
	background-color: black;
}

h1 {
    font-family: '8bit';
	font-size: 4.2em;
}
/* Adds borders around h2, h3, feature list and img elements */
h2{
	border-bottom: 1px solid black;
}
h3{
	border-bottom: 1px solid black;
}
p.error {
	color: red;
}
ul#f_li{
	padding-left: 30px;
}
img{
	padding: 15px 1.5625%;
}
/* Used to create a white box around the body content 
div.bg{
	margin-right: 10%;
	max-width: 1024px;
	background-color: white;
	position: absolute;
	display: inline-block;
	border: 1px solid black;
}*/
div.post{
    background-color: black;
    border: 3px solid blue;
    margin: 0.5em .5em .5em .5em;
    padding: 15px 1.5625%;
}
div.post p, div.post h3{
    color: white;
}
iframe {
	width: 100%;
	resize: both;
	overflow: auto;
}